---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/mtvCloudsPage/principal.png";
import featureSecundary from "@images/mtvCloudsPage/secundary.png";
import birdwatching from "@images/mtvCloudsPage/birdwatching.png";
import naturalhistory from "@images/mtvCloudsPage/naturalhistory.png";
import nighttour from "@images/mtvCloudsPage/nighttour.png";
---

<MainLayout>

  <HeroSection
    title=`Your best tour option with <span
        class="text-orange-600 dark:text-orange-500">Monteverde in The Clouds</span>`
    subTitle="Come enjoy a magnificent experience in Monteverde, with our beautiful nature"
    primaryBtn="Tours information"
    primaryBtnURL="/services"
    secondaryBtn="Reserve tour"
    secondaryBtnURL="/contact"
    src={featureSecundary}
    alt="Howler monkey resting in a tree"
  />

  <FeaturesGeneral
    title="Bla bla bla"
    subTitle="blabla blablablba"
    src={featureImage}
    alt="snake in night tour"
    features={features}
  />

  <FeaturesNavs
    title=`A quick look at what we offer you in <span class="text-orange-600 dark:text-orange-500">Monteverde in the clouds</span>, for more information visit the tours tab.`
    tabs={[
      {
        heading: "Hiking reserve tour",
        content:
          "Walk along beautiful natural trails with an experienced guide and see different species of birds and mammals. Learn about the amazing diversity of the cloud forest.",
        svg: "tools",
        src: naturalhistory,
        alt: "monkey in a tree",
        first: true,
      },
      {
        heading: "Night tour",
        content:
          "Walking in the forest at night is a magical experience! Possible sightings are mammals, tarantulas and sleeping birds. Enjoy the nightly symphony of frogs and insects.",
        svg: "dashboard",
        src: nighttour,
        alt: "Frog in a leave",
      },
      {
        heading: "Bird watching tour",
        content:         
          "A specialized tour with an expert guide that focuses on bird observation, showing you a fanciful world of colors and sounds.",
        svg: "house",
        src: birdwatching,
        alt: "side picture of a bird",
      },
    ]}
  />



  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

</MainLayout>
